<h1>All Camps</h1>

<div class="container">
  <div class="row">
     <!--  map - 1/2 -->
    <div class="col-xs-12 col-sm-6">
      <h1>Here goes the map</h1>
      <!-- map GA-->
      <div id="map" style="width: 100%; height: 600px;"></div>
    </div>
    <!--  Camp card - 1/2 -->
    <div class="col-xs-12 col-sm-6">
        <% @camps.each do |camp| %>
        <%= link_to camp_path(camp) do %>
          <div class="card">
             <div class ="card-title"><%= camp.title %></div>
             <div class= "card-description"> <%= camp.description %></div>
             <div class="card-price"><%= camp.price %>$</div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<!-- JS GA MAP -->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>




