
<h1><%= @camp.title %></h1>
<p><%= @camp.description %></p>
<p><%= @camp.price %>$</p>

<h3>Book now !</h3>
<%= simple_form_for([ @camp, @booking ]) do |f| %>
  <%= f.input :start_date, as: :string, input_html: { class: "datepicker" }, placeholder: 'Pick a starting date' %>
  <%= f.input :end_date, as: :string, input_html: { class: "datepicker" }, placeholder: 'Pick an ending date' %>
  <%=f.input :surfers, collection: 1..12, selected: 1, label: "For how many surfers?" %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>


<div id="map" style="width: 100%; height: 600px;"></div>


<!-- Js mapping -->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>

