<h1>My bookings</h1>

<% @bookings.each do |booking| %>
  <ul>
    <li><%= booking.camp.title %>
        <%= booking.start_date.strftime('%d/%m/%Y') %>
        <%= booking.end_date.strftime('%d/%m/%Y') %>
        <%= elper(booking) %>
        <p>
          <% if booking.accepted %>
            Accepted
          <% else %>
            Pending
          <% end %>
        </p>
        <%= link_to "Edit my booking", edit_booking_path(booking)  %>
    </li>
  </ul>
<% end %>
