
<div class="btn btn-info"><i class="fa fa-chevron-left" aria-hidden="true"></i><%= link_to ' Back to My Bookings', bookings_path %></div>

<div class="container">
  <div class="row">

    <div class= "col-md-6 camp-summary">
      <h1><%= @booking.camp.title %></h1>

      <div class="description-look"><%= @booking.camp.address %></div>
      <div class="description-look"><%= @booking.camp.description %></div>
      <div class="price-look"><%= @booking.camp.price %> $</div>
    </div>
    <div class="col-md-6 book-recap">
      <p> Start date :
          <%= @booking.start_date.strftime('%d/%m/%Y')  %></p>
      <p> End date:
          <%= @booking.end_date.strftime('%d/%m/%Y') %> </p>
      <p> Number of surfers:   <%= @booking.surfers %> </p>
    </div>

  </div>
</div>



<div id="map" style="width: 100%; height: 600px;"></div>


<!-- Js mapping -->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>


















