
<div class="container">
<div class="card text-center">

<h1>My Profile</h1>
<%= cl_image_tag @user.photo, height: 300, width: 400, crop: :fill %>
<p> <%= @user.first_name %> <%= @user.last_name %> </p>

<div>
<div class="row">
<div class="col-sm-12">
<%= button_to "Edit your profile", edit_user_path, class: "btn btn-primary btn-lg" %>
</div>
</div>
<div class="row">
<div class="col-xs-12">

<%= button_to 'Create a Surf Camp', new_camp_path, class: "btn btn-primary btn-lg btn-block" %></%>
</div>
</div>
</div>
</div>
