<div class="container">
  <div class="banner-user">
    <% photo = @user.photo || @user.facebook_picture_url %>
    <%= cl_image_tag photo, class: "avatar-account pic-account" %>

    <div class="user-infos">

      <div class="h1 block"> <%= @user.first_name %> <%= @user.last_name %>   </div>

      <div class="edit-pencil-profile block">
     <%= link_to edit_user_path(@user) do%>
       <i class="fa fa-pencil edit-pencil-profile" aria-hidden="true"></i>
      <% end %>
    </div>
    </h1>
    </div>


  </div>
</div>


<div class="container">
  <div class="tabs-back">
    <div class="tabs" id="tabs">
      <a class="tab active" data-target="#my-bookings">
        <h3>My Bookings</h3>
        <p><%= @user.bookings.count %></p>
      </a>
      <a class="tab" data-target="#my-camps">
        <h3>My Camps</h3>
        <p><%= @user.camps.count %></p>
      </a>
      <a class="tab" data-target="#my-reviews">
        <h3>My Reviews</h3>
        <p><%= @user.reviews.count %></p>
      </a>
    </div>

    <div class="tab-content" id="my-bookings">
      <%= render 'bookings/index' %>
    </div>
    <div class="tab-content hidden" id="my-camps">
      <%= render 'pages/my_camps' %>
    </div>
    <div class="tab-content hidden" id="my-reviews">
      <%= render 'reviews/my_reviews' %>
    </div>

  </div>
</div>





