

  <% @camps.each do |camp| %>
  <%= link_to my_camp_path(camp) do %>
    <% photo = camp.photo %>
    <div class="card-prof" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= photo %>');>
       <div class ="card-title"><%= camp.title %></div>
       <div class= "card-description"> <%= camp.description %></div>
       <div class="card-price"><%= camp.price %>$</div>
    </div>
  <% end %>
<% end %>



