

  <% @camps.each do |camp| %>
  <%= link_to my_camp_path(camp) do %>
    <% photo = camp.photo %>
    <% if camp.photo? %>
      <div class="card-prof" style="background-image: url('<%= cl_image_path camp.photo %>');">
    <% else %>
      <div class="card-prof" style="background-image: url('<%= image_path 'test.jpg' %>');">
    <% end %>
       <div class ="card-title"><%= camp.title %></div>
       <div class= "card-description"> <%= camp.description %></div>
       <div class="card-price"><%= camp.price %>$</div>
    </div>
  <% end %>
<% end %>



