
<div class="btn btn-info"><i class="fa fa-chevron-left" aria-hidden="true"></i><%= link_to ' Back to My Camps', camps_path %></div>

<div class="container">

<h1><%= @camp.title %></h1>

  <p>Description : <%= @camp.description %></p>
  <p><%= @camp.price %>$</p>


<h3>Bookings</h3>
<% @camp.bookings.each do |booking| %>
<ul>
  <li>
    <%= booking.start_date %> -
    <%= booking.end_date %> -
    <%= booking.surfers %> surfers
  </li>
</ul>
<% end %>

<%= link_to 'Edit your Camp', edit_camp_path, class: "btn btn-primary" %>
<%= link_to 'Delete your Camp', camp_path, method: :delete,  data: { confirm: "Are you sure you want to delete this camp?" }, class: "btn btn-danger" %>
</div>
