
<div class="search-list">
 <div class="sw">
    <form>
      <input type="search" class="search-detail" placeholder="Search..." />
      <button class="go"><span class="entypo-search"></span></button>
      <a href="#" class="logo" title="GMRUI"></a>
    </form>
  </div>
</div>
<div class="row">
  <!--  Camp card - 1/2 -->
  <div class="col-md-5 camp-column">
    <% @camps.each do |camp| %>
    <%= link_to camp_path(camp) do %>
      <% photo = camp.photo %>
      <div class="card-list" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= photo %>');">
        <div class ="card-title"><%= camp.title %></div>
        <div class= "card-description"> <%= camp.description %></div>
        <div class="card-price"><%= camp.price %>$</div>
      </div>
    <% end %>
  <% end %>
  </div>
 <!--  map - 1/2 -->
  <div class="col-md-7" >
<!-- map GA-->
  <div id="map" style="width: 100%; height: 600px;"></div>
  </div>
</div>



<!-- JS GA MAP -->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({
      provider: {
          styles:
          [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#6EB6FF"},{"visibility":"on"}]}]

          },

      internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length >= 1) {
          handler.getMap().setZoom(4);
        }
      });
    });
  <% end %>
<% end %>
