<div class="banner">
  <div class="banner-content">
   <div class="search"><!-- /search -->
    <div class="search__inner search__inner--up">
      <form class="search__form" action='filter'>
        <input class="search__input" name="search" type="search" placeholder="Where ?"/>
        <span class="search__info">Book your next Surf Camp</span>
      </form>
    </div>
  </div><!-- /search -->
  <div class="map"><!-- /map -->
    <%= image_tag "map.png" %>
    <%= link_to "North-America", camps_filter_path(search: "north-america", radius_km: "2500"), class: "map-button", id: "north-america" %>
    <%= link_to "South-America", camps_filter_path(search: "south-america", radius_km: "2500"), class: "map-button", id: "south-america"%>
    <%= link_to "Europe", camps_filter_path(search: "europe", radius_km: "1800"), class: "map-button", id: "europe"%>
    <%= link_to "Australia", camps_filter_path(search: "australia", radius_km: "1600"), class: "map-button", id: "australia"%>
    <%= link_to "Asia", camps_filter_path(search: "southeast-asia", radius_km: "2000"), class: "map-button", id: "asia"%>
    <%= link_to "Africa", camps_filter_path(search: "africa", radius_km: "3500"), class: "map-button", id: "africa"%>
  </div><!-- /map -->
</div>
</div>
<div class="container text-center">
  <div class="explication">
    <div class="h1"> How it works</div>
    <br>
      <div class="row">
        <div class="col-sm-4">
          <div class="discover">
            <h3>Discover</h3>
            <p>Find the bests SurfCamp</p>
            <%= image_tag "discover.png", class: "disco" %>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="discover">
            <h3>Contact</h3>
            <p>Book your Surf Camp online</p>
            <%= image_tag "contact.png", class: "disco" %>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="discover">
            <h3>Surf</h3>
            <p>Go to your next surf trip</p>
            <%= image_tag "surf.png", class: "disco" %>
          </div>
        </div>
    </div>
  </div>
</div>
  <div class="best-camps text-center">
  <div class="container">
  <div class="h1"> Newest SurfCamps</div>
  <br>
  <br>
  <div class="row">
    <% @camps.each do |camp| %>
    <div class="col-xs-12 col-sm-4">
      <%= link_to camp_path(camp) do %>
      <% photo = camp.photo %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= photo %>');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2><%= camp.title %></h2>
        </div>
      </div>
    <% end %>
    </div>
    <% end %>
  </div>
  <br>
  <br>
  <br>

  </div>
  </div>
  <div class="background-for-home">
    <div class="container text-center">
        <div class="home-h2-text"><%= link_to 'See all camps', camps_path %></div>
    </div>
</div>
